.landing {
    background: linear-gradient(rgba(37, 37, 37, 0.801), rgba(55, 56, 58, 0.589)),url("./bg-masthead.jpg" );
    min-height: 100%;
    /* background-color: rgb(173, 106, 19); */
}

.landing .btn {
    border-radius: 50px;
    padding: 1em;
}
